.btn {
  width: auto;
  height: 32px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 3px;
  box-shadow: $shadow;
  cursor: pointer;
  &:disabled {
    visibility: hidden;
  }
}

.btn-search {
  color: $white;
  background-color: $yellow;
  border-radius: 0 3px 3px 0;
}
.btn-pagination {
  background-color: $yellow;
  color: $white;
}
