<ul class="menu flex justify-content-space-around">
    <li class="item" routerLinkActive="active" routerLink="/science">
        <span>Science</span>
        <div class="baseline"></div>
    </li>
    <li class="item" routerLinkActive="active" routerLink="/education">
        <span>Education</span>
        <div class="baseline"></div>
    </li>
    <li class="item" routerLinkActive="active" routerLink="/people">
        <span>People</span>
        <div class="baseline"></div>
    </li>
    <li class="item" routerLinkActive="active" routerLink="/feelings">
        <span>Feelings</span>
        <div class="baseline"></div>
    </li>
    <li class="item" routerLinkActive="active" routerLink="/computer">
        <span>Computer</span>
        <div class="baseline"></div>
    </li>
    <li class="item" routerLinkActive="active" routerLink="/buildings">
        <span>Buildings</span>
        <div class="baseline"></div>
    </li>
</ul>